<div class="call-to-action">
  Выбери себя или одногруппника в списке:
</div>
<div class="groups-wrap">
  <ul class="groups">
    <li class="group" *ngFor="let group of groups">
      <span class="group-name">{{group.name}}</span>
      <ol class="students">
        <li *ngFor="let student of group.students">
          <button class="student" [class.selected]="student.id == selectedStudentId"
                  (click)="selectStudent(student)">{{ student.student_name | firstWord }}</button>
        </li>
      </ol>
    </li>
  </ul>
</div>
