<div class="intervals">
  <button (click)="showIntervals = !showIntervals"><span *ngIf="!showIntervals">Показать</span><span
    *ngIf="showIntervals">Скрыть</span> длительности пар</button>
  <div class="interval-list" *ngIf="showIntervals" [@enterAnimation]="show">
    <div class="interval">
      09:00 — 10:35
    </div>
    <div class="interval">
      10:50 — 12:25
    </div>
    <div class="interval">
      12:40 — 14:15
    </div>
    <div class="interval">
      14:30 — 16:05
    </div>
    <div class="interval">
      16:20 — 17:55
    </div>
    <div class="interval">
      18:10 — 19:45
    </div>
    <div class="interval">
      20:00 — 21:35
    </div>
  </div>
</div>
