<nav>
  <a href="#" title="Расписание ФИТ" rel="sidebar" class="nsu-logo"></a>
  <div class="week-parity-selector" *ngIf="schedule">
    Выбор недели:
    <button class="week-parity-button" [disabled]="!evenWeek" (click)="selectWeekParity(false)">1</button>
    <button class="week-parity-button" [disabled]="evenWeek" (click)="selectWeekParity(true)">2</button>
  </div>
</nav>
<div class="schedule">
  <div class="loading" [class.hidden]="!loading">
    <md-spinner *ngIf="loading"></md-spinner>
  </div>
  <div *ngFor="let schedDay of schedule; let i = index" class="day">
    <span class="weekday">{{convertWeekdayToWord(i)}}</span>
    <div *ngFor="let schedItem of schedDay" class="item">
      <schedule-item [item]="schedItem">
      </schedule-item>
    </div>
  </div>
</div>
<legend></legend>
<intervals></intervals>
<group-list [selectedStudentId]="selectedStudentId"></group-list>
