.schedule {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

.day {
  width: 30%;
  align-content: center;
  min-width: 390px;
  margin: 5px;
}

.weekday {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
}

.item {
  background-color: white;
}

.item:nth-of-type(2n+1) {
  background-color: #e5e5e5;
}
