* {
  box-sizing: border-box;
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}

.day {
  width: 30%;
  align-content: center;
  min-width: 390px;
  margin: 5px;
}

.item {
  border: 1px solid black;
  border-bottom: none;
  height: 24px;
  padding: 4px;
  background-color: white;
}

.item:last-child {

}

.item:nth-of-type(2n+1) {
  background-color: #e5e5e5;
}

.weekday {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
}

.subj-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 310px;
}

.room {
  float: right;
}
